.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading Challenge Other Users!
      .panel-body
        =form_tag create_challenge_path do
          %table.table.challenge-table
            %thead
              %th #
              %th User
              %th Word
            %tbody
              %tr(data-row="1")
                %td.rownumber 1
                %td= select_tag "data[][person]", options_from_collection_for_select(user_sans_current, "id", "email"), class: "btn btn-default dropdown-toggle"
                %td= text_field_tag "data[][word]", "", placeholder: "Enter a challenge word", class: "form-control challenge-word", required: "required", maxlength: "15"
          %button.btn.btn-default.pull-right.challenge-submit= submit_tag "Challenge!"
          %button.btn.btn-default.pull-left.addrow(type="button") Add a Challenge
  .col-md-2


